{% extends "base.html" %}
{% block title %}Профайл пользователя{% endblock %}
{% block header %}Профайл пользователя {{ username }}{% endblock %}

{% block content %}       
  <h1>Все посты пользователя {{ username }} </h1>
  <h3>Всего постов: {{ post_count }} </h3>
  {% for post in page_obj %}
    <article>
      <ul>
        <li>
          Автор: {{ username }}
          <a href="post:group_list">все посты пользователя</a>
        </li>
        <li>
          Дата публикации: {{ post.pub_date }}
        </li>
      </ul>
      <p>
        {{ post.text|linebreaksbr }}
      </p>
      <a href="{% url 'posts:group_list' post.group.slug %}">подробная информация </a>
    </article>
    <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
    {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
  {% include 'posts/includes/paginator.html' %}

{% endblock %}